<section  class="container">
    <!-- page title STARTS-->
        <header role="banner">
        <h2>My Shopping Cart</h2>
        </header>
    <!-- page title ENDS-->
     <!-- page description STARTS-->
    <div class="main-container">
      <div class="row">
        <img class="background-image" src="image/background-image-fashion.jpg">
          <div class="col-md-8 col-sm-12 col-xs-12">
              <table class="table table-bordered  ">
                <thead>
                    <tr>
                    <th>CATEGORY</th>
                    <th>PRODUCT NAME</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th> REMOVE </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- empty cart message -->
                    <tr ng-show="count < 1">
                        <td class="empty-cart" colspan="4">
                            Your Cart is empty.
                        </td>
                    </tr>
                    <!-- cart items -->
                    <tr ng-repeat="item in cartItem">
                        <td data-label="CATEGORY" ng-bind="item.category"></td>
                        <td data-label="PRODUCT NAME" ng-bind="item.productName"></td>
                        <td data-label="PRICE" ng-bind="item.price * item.quantity | currency:'£'"></td>
                        <td data-label="QUANTITY" class="tdCenter">{{item.quantity}}
                             &nbsp;
                            <div class="input-append">
                                <button class="btn add-btn" type="button" ng-disabled="item.quantity >= 1000"
                                    ng-click="addItem(item.productName,item.price,+1)">+</button>
                                <button class="btn add-btn-inverse" type="button" ng-disabled="item.quantity <= 1"
                                    ng-click="addItem(item.productName,item.price,-1)">-</button>
                                    <span  ng-bind="outOfStockMsg" ng-show="{{item.quantityInStock}}< 1"></span>
                            </div>
                        </td>
                        <td class="tdCenter" title="remove from cart">
                            <button type="submit" name ="remove" class="remove-btn" ng-click="addItem(item.productName,item.price,-100000)">
                                 <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    <!-- footer -->
                    <tr class="total-price-section">
                        <td ><b>Total Price</b></td>
                        <td></td>
                        <td class="tdRight"> <b ng-bind="total | currency :'£'"></b></td>
                        <td class="tdCenter"> <b ng-bind="count"></b></td>
                        <td></td>
                    </tr>
                </tbody>
              </table>
            </div>
                <!-- Redeem voucher section -->

             <div class="col-md-4 col-sm-12 col-xs-12" ng-show="count>0">
                <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="card">
                                    <label> Redeem Voucher here </label>   
                                    <input type="text" name="promo" ng-model="voucherCode" placeholder="Enter Voucher Code" />
                                    <button  type="submit" class="discount-voucher-btn" name="apply-voucher" ng-click="checkValidVoucher()">APPLY</button>
                                        <div>
                                            <span class="voucher-code"> VOUCHER05</span>
                                            <span> Use this code to get £5.00 off your order</span>
                                        </div>
                                        <div>
                                            <span class="voucher-code"> VOUCHER10</span>
                                             <span> Use this code to get £10.00 off when you spend over £50.00</span>
                                        </div>
                                        <div>                                
                                            <span class="voucher-code"> VOUCHER15</span>
                                            <span> Use this code to get £15.00 off when you have bought at least one footwear item and spent
                                                    over £75.00</span>
                                        </div>
                              </div>
                              <div class="discount-voucher-msg">
                                    <p class="invalid-message" ng-show="validVoucher">This voucher is not valid!</p>
                                    <p class="discount-message" ng-show="voucherMessage">Disount applied! £{{discountAmount}} has been taken off your order.</p>
                              </div>
                            </div>
                        </div>
                    </div>
        </div>
            <!-- Button section -->
                <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 btn-section">
                            <a class="btn btn-primary pull-left" href='#!/getProduct'>Continue Shopping
                                <span class="glyphicon glyphicon-chevron-left back-link-arrow" aria-hidden="true"></span></a>
                            <a class=" btn btn-danger pull-right" href='#' ng-click="clearItems()" ng-disabled="count < 1">Clear Cart
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        </div>
                    </div>
   </div> 

<!-- page description ENDS-->
</section>
      
          
    
