<!-- <page-header></page-header> -->
<section class="container">
  <!-- page title STARTS-->
    <header role="banner">
      <h2>Welcome to Clothing retailer</h2>
    </header>
  <!-- page title ENDS-->
  <!-- page description STARTS-->
  <div  class="main-container">
    <div class="table-responsive">
        <img class="background-image" src="image/background-image-fashion.jpg">
      <table class="table table-bordered">
        <thead>
          <tr>
              <th>CATEGORY</th>
              <th>PRODUCT NAME</th>
              <th>PRICE</th>
              <th class="qty">QUANTITY</th>
              <th>
              <a href="#!/cart" title="go to shopping cart">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <b ng-bind="count"></b> items,
                <b ng-bind="total | currency :'£'"></b>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="animate-repeat" ng-repeat="item in products | filter:searchText | orderBy:'category' ">
            <td ng-bind="item.category "></td>
            <td ng-bind="item.productName"></td>
            <td ng-bind="item.price | currency:'£'"></td>
            <td ng-bind="item.quantityInStock"></td>
            <td><button class="btn add-btn" 
                ng-click="addItem(item.productName,item.price,1,item.category)">ADD TO CART</button>
              <span  ng-bind="outOfStockMsg" ng-show="{{item.quantityInStock}}< 1"></span> </td>
          </tr>
          <tr>
              <td class="tdRight" colspan="5">
                <a href="#!/cart" title="go to shopping cart">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <b ng-bind="count"></b> items,
                  <b ng-bind="total | currency :'£'"></b>
                </a>
              </td>
            </tr>
        </tbody>
      </table>
     </div>
  </div>
   <!-- page description ENDS-->
</section>
